.header {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo img {
    max-height: 100px;
    object-fit: contain;
}

.goBackBtn {
    cursor: pointer;
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 5px 10px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}